body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-benef {
    margin-top: 25px;
}

.btn-invisible {
    display: none;
}

#btnCancelar {
    margin-left: -30px;
}

